[Unit]
Description=Furnace Monitor

[Service]
ExecStart=/path/to/my/app/start.sh
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/path/to/my/app

[Install]
WantedBy=multi-user.target